{%-macro fmt_traits(traits) %}
{%- set trait_sep = joiner(', ') -%}
{% if traits -%}({% endif %}
{%- for trait, value in traits.items() -%}
    {{ trait_sep() }}{{ trait | replace('-', ' ') }}
    {%- if trait in ['reach', 'thrown', 'range-increment'] %}
        {{ value }} ft
    {%- elif trait == 'versatile' %}
        {{ value | upper }}
    {%- elif value %}
        {{ value }}
    {%- endif -%}
{%- endfor %}
{% if traits -%}){% endif %}
{% endmacro %}

{%-macro simple_action(action) %}
<b>{{ action.name }}</b>
<span class="action">{{ action.cost | action }}</span>
{{ fmt_traits(action.traits) }}
{{ action.desc | safe }}
{% endmacro %}

{%- macro strike_action(action) -%}
<b>{{ action.weapon_type | title }}</b>
{{ action.name }}
<span class="action">{{ action.cost | action }}</span>
{% for malus in action.attack_maluses() %}
    {% if not loop.first %}
        {% if action.traits.get('reload', '-1') | int > 0 %}
        / reload <span class="action">{{ action.traits['reload'] }}</span> /
        {% else %}
        /
        {% endif %}
    {% endif %}
    {{ '%+d' | format(action.bonus - malus) }}
{% endfor %}
{{ fmt_traits(action.traits) }}
{% if action.damage %}
    <b>Damage</b>
    {%- set damage_sep = joiner('plus') -%}
    {% for amount, kind in action.damage %}
        {{ damage_sep() }} {{ amount }} {{ kind }}
    {% endfor %}
{% endif %}
{% if action.effects %}
    <b>Effect</b>
    {% for effect in action.effects %}
        {{ effect.replace('-', ' ') }}
    {% endfor %}
{% endif %}
{% endmacro %}

{% macro action(data) %}
    {%- if data.kind() == 'SimpleAction' %}
    {{ simple_action(data) }}
    {%- elif data.kind() == 'Strike' %}
    {{ strike_action(data) }}
    {%- endif %}
{% endmacro %}