{%macro fmt_traits(traits) %}
{% if traits %}
(
{%- for trait, value in traits.items() -%}
    {% set trait = trait | replace('-', ' ') %}
    {%- if trait in ['reach', 'thrown', 'range-increment'] -%}
        {{ trait }} {{ value }} ft
    {%- elif trait == 'versatile' -%}
        {{ trait }} {{ value | upper }}
    {%- elif value -%}
        {{ trait }} {{ value }}
    {%- else -%}
        {{ trait }}
    {%- endif -%}
    {{- ', ' if not loop.last }}
{%- endfor %}
)
{% endif %}
{% endmacro %}

{%macro simple_action(action) %}
<b>{{ action.name }}</b>
{{ action.cost | action }}
{{ fmt_traits(action.traits) }}
{% if action.trigger %}
    <b>Trigger</b> {{ action.trigger }}
{% endif %}
{{ action.desc | safe }}
{% endmacro %}

{% macro strike_action(action) %}
<b>{{ action.weapon_type | title }}</b>
{{ action.name }}
{{ action.cost | action }}
<span id="statistic-strike-bonus-{{ (action.name, action.weapon_type) | kebab }}" class="statistic-strike-bonus">{{ '%+d' | format(action.bonus) }}</span>
{% for malus in action.attack_maluses() %}
    {% if action.traits.get('reload', '-1') | int > 0 %}
    / reload {{ action.traits['reload'] | action }} /
    {% else %}
    /
    {% endif %}
    {{ '%+d' | format(action.bonus - malus) }}
{% endfor %}
{{ fmt_traits(action.traits) }}
{% if action.damage %}
    <b>Damage</b>
    <span id="statistic-strike-damage-{{ (action.name, action.weapon_type) | kebab }}" class="statistic-strike-damage">
    {% set damage_joiner = joiner(' plus ') %}
    {% for amount, damage_type in action.damage -%}
    {{ damage_joiner() }}<span class="statistic-damage-dice">{{ amount }}</span> {{ damage_type }}
    {%- endfor %}
    </span>
{% endif %}
{% if action.trigger %}
    <b>Trigger</b> {{ action.trigger }}
{% endif %}
{% if action.effects %}
    <b>Effect</b>
    {% for effect in action.effects %}
        {{ effect.replace('-', ' ') }}
    {% endfor %}
{% endif %}
{% endmacro %}

{% macro action(data) %}
    {% if data.kind() == 'SimpleAction' %}
    {{ simple_action(data) }}
    {% elif data.kind() == 'Strike' %}
    {{ strike_action(data) }}
    {% endif %}
{% endmacro %}