{% from 'actions.j2.html' import action, simple_action %}

{% macro stat_block(creature, collapsible=False) %}
{% if creature is exception %}
{# Output the exception into the log and HTML #}
<div class="error">{{ creature | handle_exception }}</div>
{% else %}
{# Output a stat block otherwise #}
<div class="stat_block pf2e_creature">
    {% if collapsible %}
    <input type="checkbox" class="stat_block_collapser name" data-name="{{ creature.name }}">
    <span class="name">
        <span>{{ creature.name }}</span>
        <span style="float: right;">Creature {{ creature.level }}</span>
    </span>
    <div class="stat_block_content">
    {% else %}
    <p class="name">
        <span>{{ creature.name }}</span>
        <span style="float: right;">Creature {{ creature.level }}</span>
    </p>
    {% endif %}
    <!-- Traits -->
    <p>
        <span class="trait size">{{ creature.size }}</span>
    {%- for trait in creature.traits %}
        <span class="trait">{{ trait }}</span>
    {%- endfor %}
    </p>
    <p>
        <b>Perception</b> {{ '{:+d}'.format(creature.perception) }};
        {% set comma = joiner(', ') %}
        {% for sense in creature.senses -%}
            {{ comma() }}
            {{- sense.name }}
            {{- ' (%s)' % sense.acuity if sense.acuity }}
            {{- ' %d feet' % sense.range if sense.range }}
        {%- endfor -%}
    </p>
    <!-- Languages -->
    <b>Languages</b> {{ creature.languages | map('title') | join(', ') }}
    <!-- Skills -->
    <p>
        <b>Skills</b>
        {%- for skill in creature.skills %}
            {{ '{} {:+d}'.format(skill.name, skill.mod) }}
            {{- '(%s)' % skill.notes | join(', ') if skill.notes }}
            {{- ', ' if not loop.last }}
        {%- endfor %}
    </p>
    <!-- Inventory -->
    {% if creature.inventory %}
    <p>
        <b>Items</b>
        {% set comma = joiner(',') %}
        {% for name, quantity in creature.inventory.items() -%}
        {{ comma() }} {{ name | plural(quantity, inclusive=quantity > 1) -}}
        {% endfor %}
    </p>
    {% endif %}
    <!-- Abilities -->
    <p>
    {%- for key in ['str', 'dex', 'con', 'int', 'wis', 'cha']%}
        <b>{{ key.title() }}</b> {{ '{:+d}'.format(creature.abilities[key]) }}{% if not loop.last %}, {% endif %}
    {%- endfor %}
    </p>
    <!-- Interactions -->
    <ul class="field_list">
    {%- for name, desc in creature.interactions %}
        <li><b>{{ name }}</b> {{ desc | safe }}</li>
    {%- endfor %}
    </ul>
    <hr>
    <p>
        <b>AC</b> {{ creature.ac }};
        <!-- Saves -->
    {%- for key, value in creature.saves.items() %}
        <b>{{ key.title() }}</b> {{ '{:+d}'.format(value) }}{% if not loop.last %}, {% endif %}
    {%- endfor %}
    </p>
    <p>
        <b>HP</b> {{ creature.max_hp }}
        {%- if creature.immunities -%}
            ; <b>Immunities</b> {{ creature.immunities | join(', ')}}
        {%- endif %}
        {%- if creature.resistances -%}
        ; <b>Resistances</b>
        {%- for key, value in creature.resistances %}
            {{ key }} {{ value }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
        {%- endif %}
        {%- if creature.weaknesses -%}
        ; <b>Weaknesses</b>
        {%- for key, value in creature.weaknesses %}
            {{ key }} {{ value }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
        {%- endif %}
    </p>
    <!-- Defenses -->
    <ul class="field_list">
    {%- for defense in creature.defenses %}
        <li>{{ simple_action(defense) }}</li>
    {%- endfor %}
    </ul>
    <hr>
    <!-- Speeds -->
    <p>
        <b>Speed</b>
        {%- for kind, value in creature.speeds.items() %}
            {%- if kind != 'walk' %}
            {{ kind }} {{ value }} ft
            {%- else %}
            {{ value }} ft
            {%- endif %}
            {%- if not loop.last %}, {% endif %}
        {%- endfor %}
    </p>
    <!-- Actions -->
    <ul class="field_list">
        {%- for data in creature.actions %}
        <li>{{ action(data) }}</li>
        {%- endfor %}
    </ul>
    <!-- Spellcasting -->
    {% for spellcasting in creature.spellcasting %}
        <p>
        <b>{{ spellcasting.name }}</b> {{ creature.name }} can cast these spells
        (spell DC {{ spellcasting.dc }}, spell attack {{ '%+d' % spellcasting.attack }}).
        {% set semicolon = joiner('; ') %}
        <ul style="list-style: none; margin-top: 0;">
        {%- for level, spells in spellcasting.iter_spells() -%}
            <li>
                <b>
                {% if level > 0 %}
                Level {{ level if level != 0 else ''}}
                {% else %}
                Cantrips
                {% endif %}
                </b>
                {% set comma = joiner(', ') %}
                {%- for name, quantity in spells -%}
                    {{ comma() }}
                    {%- if quantity > 1 -%}
                    <i>{{ name }}</i> (x{{ quantity }})
                    {%- else -%}
                    <i>{{ name }}</i>
                    {%- endif -%}
                {%- endfor -%}
            </li>
        {%- endfor -%}
        </ul>
    </p>
    {% endfor %}
    <hr>
    {% if collapsible %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endmacro %}

{% if render | default(False) %}
<!DOCTYPE html>
<head>
    <title>{{ creature.name | title }}</title>
    <link rel="stylesheet" href="{{ url_for('pf2e_compendium.static', filename='stat_block.css') }}">
    <link rel="stylesheet" href="{{ url_for('pf2e_compendium.static', filename='actions_font.css') }}">
</head>
<body>{{stat_block(creature, collapsible=False)}}</body>
{% endif %}