{% from 'actions.j2.html' import action %}

{% macro trap(data) %}
{{- DEPRECATED('hazard.trap', 'hazard.hazard') -}}
{{ hazard(data) }}
{% endmacro %}

{% macro hazard(data) %}
<div class="stat_block">
    <span class="name">{{ data.name }}<span style="float: right">Hazard {{ data.level }}</span></span>
    <hr>
    <ul class="field_list">
        <li><b>Notice</b> DC {{ 10 + data.stealth }} Perception Check </li>
        {% if data.complex %}
        <li><b>Initiative</b> Stealth {{ '%+d' | format(data.stealth) }}</li>
        {% endif %}
        <li><b>Disable</b> {{ data.disable | safe }}</li>
        {% for data in data.actions %}
        <li>{{ action(data) }}</li>
        {% endfor %}
        <li><hr></li>
        {% if data.reset %}
        <li><b>Reset</b> {{ data.reset | safe }}</li>
        {% endif %}
        <!-- Hazards with a physical component always have all of ac, saves, and HP -->
        {% if data.ac %} 
            <li>
            <!-- AC -->
            <b>AC</b> {{ data.ac }};
            <!-- Saves -->
            {% for key, value in data.saves.items() if value %}
                <b>{{ key | title }}</b> {{ '%+d' % value }}
                {{- ', ' if not loop.last }}
            {% endfor %}
            </li>
            <li>
            <!-- Hardness -->
            {% set comma = joiner(';') %}
            {% if data.hardness %}
            <b>Hardness</b> {{ data.hardness }};
            {% endif %}
            <b>HP</b> {{ data.max_hp }}
            <!-- HP -->
            </li>
        {% endif %}
        {% if data.complex %}
        <li><b>Routine</b> {{ data.routine | safe }}</li>
        {% endif %}
    </ul>
    {{ data.description | safe }}
</div>
{% endmacro %}

{% if render | default(False) %}
<!DOCTYPE html>
<head>
    <title>{{ data.name | title }}</title>
    <link rel="stylesheet" href="{{ url_for('pf2e_compendium.static', filename='stat_block.css') }}">
</head>
<body>{{ trap(data) }}</body>
<footer>
    <a href="{{ request.base_url }}.json">View JSON</a>
</footer>
{% endif %}