{% macro stat_block(name, type, level, size=None, rarity=None, traits=[], collapsible=False) %}
{%- set _ = g.assets.stylesheets.add(url_for('pf2e_compendium.static', filename='stat_block.css')) -%}
<div class="stat_block pf2e_{{ type | lower }} {{ 'has-collapser' if collapsible }}">
    {% if collapsible %}
    <input type="checkbox" class="header stat_block_collapser" data-name="{{ name }}">
    {% endif %}
    <span class="header name">{{ name }}</span>
    <span class="header level">{{ type | title }} <span id="statistic-level">{{ level }}</span></span>
    <div class="stat_block_content {{ 'closed' if collapsible }}">
        <!-- Traits -->
        <div id="traits-container">
        {% if rarity and rarity != 'common' %}
            <span class="trait {{ rarity }}">{{ rarity }}</span>
        {% endif %}
        {% if size %}
            <span class="trait size">{{ size }}</span>
        {% endif %}
        {% for trait in traits %}
            <span class="trait">{{ trait }}</span>
        {% endfor %}
        </div>
        {{ caller() }}
    </div>
</div>
{% endmacro %}

{% macro detailed_value(value, details) %}
{{ value }}
{%- if details -%}
{{ ';' if '(' not in details }}
{{ details | safe}}
{% endif %}
{% endmacro %}

{% macro detailed_int(data) %}
{{ detailed_value('%+d' | format(data.value), data.details) }}
{% endmacro %}

{% macro detailed_dc(data, from_modifier=False) %}
DC {{ detailed_value('%d' | format(10 + data.value), data.details) }}
{% endmacro %}