{% macro encounter(npcs, show_xp=True) %}
<section class="encounter">
    <link rel="stylesheet" href="{{ url_for('encounter_extension.static', filename='encounter.css') }}">
    <ul>
        {% set xp = namespace(total=0) %}
        {% for count, creature in npcs %}
            <li>{{ count }} {{ creature.name | plural(count) }}</li>
            {% set xp.total = xp.total + count * creature.xp %}
        {% endfor %}
        {% if show_xp %}
        <li><hr/></li>
            {% if config.PARTY %}
            <li><strong>Total XP</strong> {{ xp.total }} ({{ xp.total // config.PARTY | length }} per player)</li>
            {% else %}
            <li><strong>Total XP</strong> {{ xp.total }}</li>
            {% endif %}
        {% endif %}
    </ul>
    <!--
    launch_encounter.js adds a click listener to this,
    it sends data-encounter as the body of a POST request to /encounter
    -->
    <button data-encounter="{{ dict(pcs=config.PARTY, npcs=npcs) | tojson | forceescape }}"
        class="launch_encounter">Launch</button>
</section>
{% endmacro %}

{% macro random_encounter(size, creature) -%}
<button data-size="{{ size }}"  data-creature="{{ creature | tojson | forceescape }}" data-party="{{ config.PARTY | tojson | forceescape }}"  onclick="launchRandomEncounter(event)">Launch</button> |
{% endmacro %}