{% extends "layout/base.j2.html" %}
{% from 'dependencies.j2.html' import script_dependency %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='article.css') }}"/>
    {{ script_dependency(version='4.36.4', cors='anonymous',
        development=('https://cdnjs.cloudflare.com/ajax/libs/tocbot/{version}/tocbot.js', {}),
        production=('https://cdnjs.cloudflare.com/ajax/libs/tocbot/{version}/tocbot.min.js', {}),
        css='https://cdnjs.cloudflare.com/ajax/libs/tocbot/{version}/tocbot.css',
    ) }}
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        tocbot.init({
          tocSelector: '.toc',
          contentSelector: 'main',
          headingLabelCallback: text => text.toLowerCase(),
          hasInnerContainers: true,
        })
    })
    </script>
{% endblock head %}
{% block main %}
<nav>
    <a href="/index">Home</a>
    <div class="toc">
    </div>
</nav>
{{ super() }}
{% endblock main %}