.collapsible {
    transition: height 0.2s;
    max-height: 0px;
    overflow-y: clip;
}
.collapser {
    appearance: none;
}
.collapser::after {
    content: attr(data-name) ' \FF0B';
    text-transform: capitalize;
}
.collapser:checked::after {
    content: attr(data-name) ' \FF0D';
}
.collapser:checked ~ .collapsible {
    max-height: initial;
    overflow-y: initial;
}