body {
    justify-content: center;
    font-family: 'Bookinsanity', sans-serif;
}
.toc {
    grid-area: toc;
    position: sticky;
    top: 10px;
    height: calc(100vh - 20px);
    overflow-y: scroll;
}
.toc > ul {
    padding-left: 20px;
}
.toc ul {
    padding-right: 5px;
    list-style: none;
}
.toc li {
    margin-top: 6px;
    margin-bottom: 6px;
}
.toc a {
    font-family: 'Mr Eaves Small Caps';
    font-size: large;
    color: black;
    text-decoration: none;
}
main {
    grid-area: content;
}
footer {
    grid-area: footer;
}

@media screen {
    body {
        width: 100vw;
        display: grid;
        grid-template-areas:
            'toc content'
            '. footer';
        grid-template-columns: max-content 1fr;
        column-gap: 1em;
    }
    main {
        flex-grow: 2;
    }
    .toc {
        border-right: 2px solid gray;
    }
}
@media print {
    .toc {
        display: none;
    }
}