{% extends "layout/base.j2.html" %}
{% from 'stat_block_mux.j2.html' import stat_block %}
{% block title %}
<title>Initiative Tracker</title>
{% endblock title %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='encounter_engine.css') }}"/>
    <link rel="stylesheet" href="{{ url_for(system.compendium_blueprint.name + '.static', filename='stat_block.css') }}">
    <script src="{{ url_for('.static', filename='encounter_engine.js') }}"></script>
{% endblock head %}
{% block main %}
<dialog id="health_dialog">
    <form method="dialog">
        <input class="dialog_value" type="number" value="0" min="0" autofocus/>
        <button type="submit" value="damage_button">Damage</button>
        <button type="submit" value="heal_button">Heal</button>
    </form>
</dialog>
<div id="container">
    <div id="tracker">
        <fieldset>
            <legend id="current-round">Round 1</legend>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Initiative</th>
                    <th>Damage</th>
                    <th>Max HP</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    {% for name in pcs %}
                    <tr class="player">
                        <td class="name">{{ name }}</td>
                        <td><input class="initiative" type="number"/></td>
                        <!-- Empty cells so background shows -->
                        <td></td>
                        <td></td>
                        <td><input class="notes" type="text"/></td>
                    </tr>
                    {% endfor %}
                    {% for npc in enemies %}
                    <tr class="enemy">
                        <td class="name">{{ npc.name }}</td>
                        <td><input class="initiative" type="number" value="{{ npc.initiative }}"/></td>
                        <td><input class="damage" type="number" value="0" min="0" max="{{ npc.initial_hp }}" oninput="updateDeadStatus(event.target)"/></td>
                        <td class="max_hp">{{ npc.initial_hp if npc.initial_hp }}</td>
                        <td><input class="notes" type="text"/></td>
                    </tr>
                    {% endfor %}
                    {% for npc in allies %}
                    <tr class="ally">
                        <td class="name">{{ npc.name }}</td>
                        <td><input class="initiative" type="number" value="{{ npc.initiative }}"/></td>
                        <td><input class="damage" type="number" value="0" min="0" max="{{ npc.initial_hp }}" oninput="updateDeadStatus(event.target)"/></td>
                        <td class="max_hp">{{ npc.initial_hp if npc.initial_hp }}</td>
                        <td><input class="notes" type="text"/></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <div id="buttons">
            <button onclick="sortInitiative()" id="sort-initiative">Sort</button>
            <button onclick="nextTurn()" id="next-turn">Next Turn</button>
            <button onclick="save()" id="save">Save</button>
            <dialog id="load_dialog">
                <form method="dialog" enctype="multipart/form-data" id="load_dialog_form">
                    <input type="file" name="file_picker" accept="application/json">
                    <input type="submit" value="Load">
                </form>
            </dialog>
            <button onclick="load()" id="load">Load</button>
        </div>
        <fieldset id="reinforcements">
            <legend>Reinforce With</legend>
            <label>
                New
                <input type="radio" oninput="updateReinforcementControls()" name="reinforcement_type" id="reinforce_with_new">
            </label>
            <label>
                Existing
                <input type="radio" oninput="updateReinforcementControls()" checked="true" name="reinforcement_type" id="reinforce_with_existing">
            </label>
            <form method="post" id="reinforce_with_new_controls" class="collapsed">
                <input type="hidden" name="reinforcement_type" value="with_new">
                <input type="submit" value="Add" class="add-reinforcements">
                <input type="number" name="quantity" value="1" min="1">
                &#x00D7;
                <input type="text" name="name" placeholder="Name" required="true">
                <input type="number" name="initiative_mod" placeholder="DEX" min="-10" max="10" required="true">
                <input type="number" name="max_hp" placeholder="&#x2764;" min="0" required="true">
                <select name="side" class="feature-value" required="true">
                    <option value="enemy">Enemy</option>
                    <option value="ally">Ally</option>
                </select>
            </form>
            <form method="post" id="reinforce_with_existing_controls">
                <input type="hidden" name="reinforcement_type" value="with_existing">
                <input type="submit" value="Add" class="add-reinforcements">
                <input type="number" name="quantity" value="1" min="1">
                &#x00D7;
                <select name="stats" class="feature-value" required="true" style="text-transform: capitalize;">
                    {% for stats in stat_block_data %}
                    <option value="{{ stats.name }}">{{ stats.name }}</option>
                    {% endfor %}
                </select>
                <select name="side" class="feature-value" required="true">
                    <option value="enemy">Enemy</option>
                    <option value="ally">Ally</option>
                </select>
            </form>
        </fieldset>
        {{ description | block_markdown }}
    </div>
    <div id="stat-blocks-pane">
    {% for stats in stat_block_data %}
        {{ stat_block(stats, collapsible=True) }}
    {% endfor %}
    </div>
</div>
{% endblock main %}