{% macro script_dependency(version, cors, development, production, css=None) %}
{% set href, attribs = development if config.DEBUG else production %}
<script src="{{ href.format(version=version) }}" {{ attribs | xmlattr }} crossorigin="{{ cors }}"></script>
{% if css %}
<link rel="stylesheet" href="{{ css.format(version=version) }}">
{% endif %}
{% endmacro %}

{% set JQUERY = script_dependency(version='3.7.1', cors='anonymous',
    development=('https://code.jquery.com/jquery-{version}.js', {'integrity': 'sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4='}),
    production=('https://code.jquery.com/jquery-{version}.min.js', {'integrity': 'sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo='}),
) %}