{% from 'actions.j2.html' import action %}

{% macro stat_block(creature, collapsible=False) %}
{% if creature is exception %}
{# Output the exception into the log and HTML #}
<div class="error">{{ creature | handle_exception }}</div>
{% else %}
{# Output a stat block otherwise #}
<div class="stat_block pf2e_creature">
    {% if collapsible %}
    <input type="checkbox" class="stat_block_collapser name" data-name="{{ creature.name }}">
    <span class="name">
        <span>{{ creature.name }}</span>
        <span style="float: right;">Creature {{ creature.level }}</span>
    </span>
    <div class="stat_block_content">
    {% else %}
    <p class="name">
        <span>{{ creature.name }}</span>
        <span style="float: right;">Creature {{ creature.level }}</span>
    </p>
    {% endif %}
    <!-- Traits -->
    <p>
    {%- for trait in creature.alignments %}
        <span class="trait alignment">{{ trait }}</span>
    {%- endfor %}
        <span class="trait size">{{ creature.size }}</span>
    {%- for trait in creature.traits %}
        <span class="trait">{{ trait }}</span>
    {%- endfor %}
    </p>
    <p><b>Perception</b> {{ '{:+d}'.format(creature.perception) }}; {{ creature.senses | join(', ') }}</p>
    <!-- Skills -->
    <p>
        <b>Skills</b>
        {%- for name, mod in creature.skills %}
            {{ '{} {:+d}'.format(name, mod) }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
    </p>
    <!-- Inventory -->
    {% if creature.inventory %}
    <p>
        <b>Items</b>
        {% set comma = joiner(',') %}
        {% for quantity, name in creature.inventory -%}
        {{ comma() }} {{ name | plural(quantity, inclusive=quantity > 1) -}}
        {% endfor %}
    </p>
    {% endif %}
    <!-- Abilities -->
    <p>
    {%- for key in ['str', 'dex', 'con', 'int', 'wis', 'cha']%}
        <b>{{ key.title() }}</b> {{ '{:+d}'.format(creature.abilities[key]) }}{% if not loop.last %}, {% endif %}
    {%- endfor %}
    </p>
    <!-- Interactions -->
    <ul class="field_list">
    {%- for name, desc in creature.interactions %}
        <li><b>{{ name }}</b> {{ desc | safe }}</li>
    {%- endfor %}
    </ul>
    <hr>
    <p>
        <b>AC</b> {{ creature.ac }};
        <!-- Saves -->
    {%- for key, value in creature.saves.items() %}
        <b>{{ key.title() }}</b> {{ '{:+d}'.format(value) }}{% if not loop.last %}, {% endif %}
    {%- endfor %}
    </p>
    <p>
        <b>HP</b> {{ creature.max_hp }}
        {%- if creature.immunities -%}
        ; <b>Immunities</b> {{ creature.immunities | join(', ')}}
        {%- endif %}
        {%- if creature.resistances -%}
        ; <b>Resistances</b>
        {%- for key, value in creature.resistances %}
            {{ key }} {{ value }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
        {%- endif %}
        {%- if creature.weaknesses -%}
        ; <b>Weaknesses</b>
        {%- for key, value in creature.weaknesses %}
            {{ key }} {{ value }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
        {%- endif %}
    </p>
    <!-- Defenses -->
    <div>
    {%- for name, desc in creature.defenses %}
        <b>{{ name }}</b> {{ desc | safe }}
    {%- endfor %}
    </div>
    <hr>
    <!-- Speeds -->
    <p>
        <b>Speed</b>
        {%- for kind, value in creature.speeds.items() %}
            {%- if kind != 'walk' %}
            {{ kind }} {{ value }} ft
            {%- else %}
            {{ value }} ft
            {%- endif %}
            {%- if not loop.last %}, {% endif %}
        {%- endfor %}
    </p>
    <!-- Actions -->
    <ul class="field_list">
        {%- for data in creature.actions %}
        <li>{{ action(data) }}</li>
        {%- endfor %}
    </ul>
    <hr>
    {% if collapsible %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endmacro %}

{% if render | default(False) %}
<!DOCTYPE html>
<head>
    <title>{{ creature.name | title }}</title>
    <link rel="stylesheet" href="{{ url_for('pf2e_bestiary.static', filename='stat_block.css') }}">
</head>
<body>{{stat_block(creature, collapsible=False)}}</body>
{% endif %}