{% extends "layout/base.j2.html" %}
{% block head %}
    {{ super() }}
    {% if subtree %}
    <title>index{{ '/' + subtree.as_posix() if subtree.name }}</title>
    {% else %}
    <title>Index</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('core.static', filename='collapsible.css') }}"/>
    <style>
    .collapser {
        margin: 0;
    }
    .collapser::after {
        font: 16px 'Bookinsanity', sans-serif;
    }
    .index {
        list-style: none;
        padding-inline-start: 2em;
    }
    #tools {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        line-height: 1.5em;
    }
    </style>
{% endblock head %}
{% block main %}
    {% for parent in subtree.parents | reverse %}
        <h1 style="display: inline;">
            <a href="/index/{{ parent }}">{{ parent.name if parent.name else 'index' }}</a>
            /
        </h1>
    {% endfor %}
    <h1 style="display: inline;">{{ subtree.name if subtree.name else 'index' }}</h1>
    <h2>Pages</h2>
    <ul class="index" style="padding-left: 0;">
    {% for _, content in content_tree recursive %}
        {% if content.is_file() %}
        <li><a href="/notes/{{ content.url }}">{{ content.title }}</a></li>
        {% elif content.children %}
        <li>
            <a href="/index/{{ content.url }}">&#x2935;</a>
            <input type="checkbox" class="collapser name" data-name="{{ content.title }}">
            <ul class="collapsible index">{{ loop(content) }}</ul>
        </li>
        {% endif  %}
    {% endfor %}
    </ul>
    <h2>Tools</h2>
    <ul id="tools">
        {% for path, title, form_attrs in config.TOOLS %}
        <li>
            <form action="{{ path }}"{{ form_attrs | xmlattr }}>
                <input type="submit" value="{{ title }}"/>
            </form>
        </li>
        {% endfor %}
        <li>
            <button onclick="location.href='/scripts'">Script List</button>
        </li>
    </ul>
{% endblock main %}