@font-face {
    font-family: "Pathfinder2eActions";
    src:
        local("Pathfinder2eActions"),
        url("Pathfinder2eActions.ttf");
}
.action-symbol {
    font-family: "Pathfinder2eActions";
    display: inline-block;
    text-indent: 0;
    transform: scale(1.375);
    vertical-align: top;
}