@import 'actions_font.css';

.stat_block {
    font-family: Arial;
    background-color: #f8f3e8;
    margin: 10px 0;
    padding: 10px;
}
.stat_block .name {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.stat_block .field_list {
    list-style: none;
    padding-left: 0px;
}
.stat_block .field_list li p {
    display: inline;
}
.stat_block .trait {
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightcoral;
    padding: 5px;
}
.stat_block .alignment {
    background-color: lightblue;
}
.stat_block .size {
    background-color: lightgreen;
}
.stat_block p {
    margin-top: 8px;
    margin-bottom: 8px;
}
.pf2e_creature .details {
    border-left: 2px solid gray;
    padding-left: 1em;
}
.stat_block_content {
    transition: height 0.2s;
    max-height: 0px;
    overflow-y: clip;
}
.stat_block_collapser {
    font-family: inherit;
    appearance: none;
}
.stat_block_collapser::after {
    content: '\02c3';
}
.stat_block_collapser:checked:after {
    content: '\02c5';
}
.stat_block_collapser:checked ~ .stat_block_content {
    max-height: initial;
    overflow-y: initial;
}