<!DOCTYPE html>
<head>
    <title>{{ report.name | title }}</title>
</head>
<body>
    <h1>{{ report.name  | title }}</h1>
    <ul>
        <li><b>Perception</b> {{ report.perception }}</li>

        <li>
            <b>Skills</b>
            <ul>
            {% for skill, value in report.skills %}
                <li><b>{{ skill | title }}</b> {{ value }}</li>
            {% endfor %}
            </ul>
        </li>

        <li>
            <b>Attributes</b>
            <ul>
            {% for ability in ['str', 'dex', 'con', 'int', 'wis', 'cha'] %}
                <li><b>{{ ability | upper }}</b> {{ report.attributes[ability] }}</li>
            {% endfor %}
            </ul>
        </li>

        <li><b>AC</b> {{ report.ac }}</li>

        <li>
            <b>Saves</b>
            <ul>
            {% for save in ['fortitude', 'reflex', 'will'] %}
                <li><b>{{ save | title }}</b> {{ report.saves[save] }}</li>
            {% endfor %}
            </ul>
        </li>

        <li><b>HP</b> {{ report.hp }} </li>

        {% if report.resistances %}
        <li>
            <b>Resistances</b>
            <ul>
            {% for damage_type, bracket in report.resistances.items() %}
                <li><b>{{ damage_type | title }}</b> {{ bracket }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if report.weaknesses %}
        <li>
            <b>Weaknesses</b>
            <ul>
            {% for damage_type, bracket in report.weaknesses.items() %}
                <li><b>{{ damage_type | title }}</b> {{ bracket }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}

        <li>
            <b>Actions</b>
            <ul>
            {% for action in report.actions %}
                <li>
                    <b>{{ action.name }}</b>
                    <ul>
                        {% if action.bonus %}
                        <li><b>Attack Bonus</b> {{ action.bonus }}</li>
                        {% endif %}
                        {% if action.dc %}
                        <li><b>DC</b> {{ action.dc }}</li>
                        {% endif %}
                        {% if action.damage %}
                        <li><b>Damage</b> {{ action.damage }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
</body>