<!DOCTYPE html>
<head>
    <title>{{ report.name | title }}</title>
</head>
<body>
    <h1>{{ report.name  | title }}</h1>
    <ul>
        <li><b>Perception</b> {{ report.perception }}</li>

        <li>
            <b>Skills</b>
            <ul>
            {% for skill, value in report.skills %}
                <li>{{ skill }} {{ value }}</li>
            {% endfor %}
            </ul>
        </li>

        <li>
            <b>Attributes</b>
            <ul>
            {% for ability in ['str', 'dex', 'con', 'int', 'wis', 'cha'] %}
                <li><b>{{ ability | upper }}</b> {{ report.attributes[ability] }}</li>
            {% endfor %}
            </ul>
        </li>

        <li><b>AC</b> {{ report.ac }}</li>

        <li>
            <b>Saves</b>
            <ul>
            {% for save in ['fortitude', 'reflex', 'will'] %}
                <li><b>{{ save | title }}</b> {{ report.saves[save] }}</li>
            {% endfor %}
            </ul>
        </li>

        <li><b>HP</b> {{ report.hp }} </li>

        <li>
            <b>Strikes</b>
            <ul>
            {% for strike in report.strikes %}
                <li>
                    <b>{{ strike.name }}</b>
                    <ul>
                        <li><b>Attack Bonus</b> {{ strike.bonus }}</li>
                        {% if strike.damage %}
                        <li><b>Damage</b> {{ strike.damage }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
</body>