<!DOCTYPE html>
<head>
    <title>{{ report.name | title }}</title>
</head>
<body>
    <h1>{{ report.name  | title }}</h1>
    <ul>
        <li><b>Perception</b> {{ report.perception }}</li>

        <li>
            <b>Skills</b>
            <ul>
            {% for skill, value in report.skills %}
                <li>{{ skill | title }} {{ value }}</li>
            {% endfor %}
            </ul>
        </li>

        <li>
            <b>Attributes</b>
            <ul>
            {% for ability in ['str', 'dex', 'con', 'int', 'wis', 'cha'] %}
                <li><b>{{ ability | upper }}</b> {{ report.attributes[ability] }}</li>
            {% endfor %}
            </ul>
        </li>

        <li><b>AC</b> {{ report.ac }}</li>

        <li>
            <b>Saves</b>
            <ul>
            {% for save in ['fortitude', 'reflex', 'will'] %}
                <li><b>{{ save | title }}</b> {{ report.saves[save] }}</li>
            {% endfor %}
            </ul>
        </li>

        <li><b>HP</b> {{ report.hp }} </li>

        <li>
            <b>Strikes</b>
            <ul>
            {% for attack in report.attacks %}
                <li>
                    <b>{{ attack.name }}</b>
                    <ul>
                        <li><b>Attack Bonus</b> {{ attack.bonus }}</li>
                        {% if attack.damage %}
                        <li><b>Damage</b> {{ attack.damage }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>
        <li>
            <b>Abilities</b>
            <ul>
            {% for ability in report.active_abilities %}
                <li>
                    <b>{{ ability.name }}</b>
                    <ul>
                        {% if ability.dc %}
                        <li><b>DC</b> {{ ability.dc }}</li>
                        {% endif %}
                        {% if ability.damage %}
                        <li><b>Damage</b> {{ ability.damage }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
</body>