{% extends "layout/base.j2.html" %}
{% block head %}
    {{ super() }}
    <title>Scripts</title>
    <style>
    #script_list {
        list-style: none;
        padding-left: 0;
    }
    .script {
        display: grid;
        max-width: 300px;
    }
    </style>    
{% endblock head %}
{% block main %}
    <h1>Scripts</h1>
    <a href="/index.html">Site Index</a>
    <ul id="script_list">
    {% for script, args in scripts %}
        <li>
            <form action="/scripts/run" method="post" target="{{ script.stem }}_output">
                <fieldset class="script">
                    <legend>{{ script.stem.title().replace('_', ' ') }}</legend>
                    <input type="hidden" name="script" value="{{ script.name }}"/>
                    {{ args }}
                    <input type="submit" value="Run"/>
                    <iframe name="{{ script.stem }}_output"></iframe>
                </fieldset>
            </form>
        </li>
    {% endfor %}
    </ul>
{% endblock main %}