{% macro stat_block(creature, collapsible=False) %}
{% if creature is exception %}
{# Output the exception into the log and HTML #}
<div class="error">{{ creature | handle_exception }}</div>
{% else %}
{# Output a stat block otherwise #}
<section id="{{ creature.name | replace(' ', '_') }}" class="stat_block">
    <link rel="stylesheet" href="{{ url_for('bestiary.static', filename='stat_block.css') }}">
    {% if collapsible %}
    <input type="checkbox" class="stat_block_collapser name" data-name="{{ creature.name }}">
    <div class="stat_block_content">
    {% else %}
    <span class="name">{{ creature.name }}</span><br>
    {% endif %}
        <em>{{ creature.size | title }} {{ creature.type }}, {{creature.alignment}}</em>
        <hr/>
        <strong>Armor Class</strong> {{ creature.ac | join(' | ') }}<br/>
        <strong>Hit Points</strong> {{ creature.str_hp() }}<br/>
        <strong>Speed</strong> {{ creature.speeds.values() | join(', ')}}<br/>

        {% set stats=['str', 'dex', 'con', 'int', 'wis', 'cha']%}
        <table>
            <thead>
            {% for stat in stats %}
                <th>{{ stat | upper }}</th>
            {% endfor %}
            </thead>
            <tbody>
                <tr>
                {% for stat in stats %}
                    <td>{{ creature[stat] }} ({{ '%+d' | format(creature[stat] // 2 - 5) }})</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>

        {% if creature.vulnerabilities %}
        <strong>Vulnerabilities</strong> {{ creature.vulnerabilities | join(', ') }}<br/>
        {% endif %}
        {% if creature.resistances %}
        <strong>Resistances</strong> {{ creature.resistances | join(', ') }}<br/>
        {% endif %}
        {% if creature.immunities %}
        <strong>Immunities</strong> {{ creature.immunities | join(', ') }}<br/>
        {% endif %}
        {% if creature.saves %}
        <strong>Saving Throws</strong> {{ creature.str_saves() }}<br/>
        {% endif %}
        {% if creature.skill_profs %}
        <strong>Skills</strong> {{ creature.str_skills() }}<br/>
        {% endif %}
        <strong>Senses</strong> {{ creature.str_senses() }}<br/>
        {% if creature.languages %}
        <strong>Languages</strong> {{ creature.languages | join(', ') }}<br/>
        {% endif %}
        <strong>Challenge</strong> {{ creature.str_cr() }} ({{ creature.xp }} XP)<br/>
        <hr/>
        {% for trait, desc in creature.traits %}
        <em><strong>{{ trait }}</strong></em>. {{ desc | inline_markdown }}<br/>
        {% endfor %}
        <p class="actions_heading">Actions</p>
        {% for action, desc in creature.actions %}
        <em><strong>{{ action }}</strong></em>. {{ desc | inline_markdown }}<br/>
        {% endfor %}
        {% if creature.bonus_actions %}
            <p class="actions_heading">Bonus Actions</p>
            {% for action, desc in creature.bonus_actions %}
            <em><strong>{{ action }}</strong></em>. {{ desc | inline_markdown }}<br/>
            {% endfor %}
        {% endif %}
        {% if creature.reactions %}
            <p class="actions_heading">Reactions</p>
            {% for action, desc in creature.reactions %}
            <em><strong>{{ action }}</strong></em>. {{ desc | inline_markdown }}<br/>
            {% endfor %}
        {% endif %}
        {% if creature.lore %}
        <hr/>
        {{ creature.lore | block_markdown }}
        {% endif %}
    {% if collapsible %}
    </div>
    {% endif %}
</section>
{% endif %}
{% endmacro %}

{% if render | default(False) %}
<!DOCTYPE html>
<head>
    <title>{{ creature.name | title }}</title>
    <link href="{{ url_for('core.static', filename='base.css') }}" rel="stylesheet">
    <link href="{{ url_for('bestiary.static', filename='stat_block.css') }}" rel="stylesheet">
</head>
<body>{{stat_block(creature)}}</body>
{% endif %}