{% extends "layout/base.j2.html" %}
{% block head %}
    {{ super() }}
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('core.static', filename='collapsible.css') }}"/>
    <style>
    .collapser {
        margin: 0;
    }
    .collapser::after {
        font: 16px 'Bookinsanity', sans-serif;
    }
    </style>
{% endblock head %}
{% block main %}
    <h2>Pages</h2>
    <ul>
    {% for _, content in content_tree recursive %}
        {% if content.is_file() %}
        <li><a href="/notes/{{ content.relative_path }}">{{ content.title }}</a></li>
        {% elif content.children %}
        <li>
            <input type="checkbox" class="collapser name" data-name="{{content.title}}">
            <ul class="collapsible">{{ loop(content) }}</ul>
        </li>
        {% endif  %}
    {% endfor %}
    </ul>
    <h2>Tools</h2>
    <ul style="line-height: 1.5em;">
        {% for path, title, form_attrs in tools %}
        <li>
            <form action="{{ path }}"{{ form_attrs | xmlattr }}>
                <input type="submit" value="{{ title }}"/>
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock main %}