{% extends "layout/base.j2.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('core.static', filename='article.css') }}"/>
{% endblock head %}
{% block main %}
<nav class="toc">
    <ul>
        <li><a href="/index">Site Index</a></li>
    {% for element in toc recursive %}
        <li><a href="#{{ element.id }}">{{ element.name }}</a></li>
        {% if element.children %}
        <ul>{{ loop(element.children) }}</ul>
        {% endif  %}
    {% endfor %}
    </ul>
</nav>
{{ super() }}
{% endblock main %}