{% from 'stat_block.j2.html' import detailed_value, stat_block %}

<!DOCTYPE html>
<head>
    <title>{{ data.name | title }}</title>
    <link rel="stylesheet" href="{{ url_for('pf2e_compendium.static', filename='stat_block.css') }}">
</head>
<body>
    {% call stat_block(data.name, data.spell_type, data.rank, rarity=data.rarity, traits=data.traits, **kwargs) %}
        <ul class="field-list">
            {% if data.traditions %}
            <li><b>Traditions</b> {{ data.traditions | join(', ') }}</li>
            {% endif %}
            <li>
                {% set semicolon = joiner('; ') %}
                {{ semicolon() }}<b>Cast</b> {{ data.time | action }}
                {%- if data.cost -%}
                {{ semicolon() }}<b>Cost</b> {{ data.cost }}
                {%- endif -%}
                {%- if data.requirements -%}
                {{ semicolon() }}<b>Requirements</b> {{ data.requirements }}
                {%- endif -%}
            </li>
            {%- if data.range or data.area or data.target -%}
            <li>
                {% set semicolon = joiner('; ') %}
                {%- if data.range -%}
                {{ semicolon() }}<b>Range</b> {{ data.range }}
                {%- endif -%}
                {%- if data.area -%}
                {{ semicolon() }}<b>Area</b> {{ detailed_value(data.area) }}
                {%- endif -%}
                {%- if data.targets -%}
                {{ semicolon() }}<b>Targets</b> {{ data.targets }}
                {%- endif -%}
            </li>
            {%- endif -%}
            {%- if data.defense or data.duration -%}
            <li>
                {% set semicolon = joiner('; ') %}
                {%- if data.defense -%}
                    {{ semicolon() }}<b>Defense</b> {{ data.defense }}
                {%- endif -%}
                {%- if data.duration -%}
                    {{ semicolon() }}<b>Duration</b> {{ data.duration }}
                {%- endif -%}
            </li>
            {%- endif -%}
        </ul>
        {% if data.time.value not in ['reaction'] %}
        <hr/>
        {% endif %}
        {{ data.description | safe }}
    {% endcall %}
    <footer>
        {# <a href="{{ url_for('.raw_content', **request.view_args) }}">View JSON</a> #}
    </footer>
</body>