{% from 'stat_block.j2.html' import stat_block %}

<!DOCTYPE html>
<head>
    <title>{{ data.name | title }}</title>
    <link rel="stylesheet" href="{{ url_for('pf2e_compendium.static', filename='stat_block.css') }}">
</head>
<body>
    {% set data_type = 'cantrip' if 'cantrip' in data.system.traits.value 
       else 'focus' if 'focus' in data.system.traits.value
       else 'spell'
    %}
    {% if 'location' in data.system and 'heightenedLevel' in data.system.location %}
        {% set level = data.system.location.heightenedLevel %}
    {% else %}
        {% set level = data.system.level.value %}
    {% endif %}
    {% call stat_block(data.name, data_type, level, rarity=data.system.traits.rarity, traits=data.system.traits.value) %}
        <ul class="field-list">
            {% if data.system.traits.traditions %}
            <li><b>Traditions</b> {{ data.system.traits.traditions | join(', ') }}</li>
            {% endif %}
            <li>
                {% set semicolon = joiner('; ') %}
                {{ semicolon() }}<b>Cast</b> {{ data.system.time.value | action }}
                {%- if data.system.cost.value -%}
                {{ semicolon() }}<b>Cost</b> {{ data.system.cost.value }}
                {%- endif -%}
                {%- if data.system.requirements -%}
                {{ semicolon() }}<b>Requirements</b> {{ data.system.requirements }}
                {%- endif -%}
            </li>
            {%- if data.system.range.value or data.system.area or data.system.target.value -%}
            <li>
                {% set semicolon = joiner('; ') %}
                {%- if data.system.range.value -%}
                {{ semicolon() }}<b>Range</b> {{ data.system.range.value }}
                {%- endif -%}
                {%- if data.system.area -%}
                {{ semicolon() }}<b>Area</b>
                    {% if data.system.area.details -%}
                    {{ data.system.area.details }}
                    {%- else -%}
                    {{ data.system.area.value }}-foot {{ data.system.area.type }}
                    {%- endif -%}
                {%- endif -%}
                {%- if data.system.target.value -%}
                {{ semicolon() }}<b>Targets</b> {{ data.system.target.value }}
                {%- endif -%}
            </li>
            {%- endif -%}
            {%- if data.system.defense or data.system.duration -%}
            <li>
                {% set semicolon = joiner('; ') %}
                {%- if data.system.defense -%}
                    {{ semicolon() }}<b>Defense</b>
                    {% if data.system.defense.passive -%}
                    {{ data.system.area.passive.statistic }}
                    {%- elif data.system.defense.save -%}
                        {%- if data.system.defense.save.basic -%}
                        basic {{ data.system.defense.save.statistic | title }}
                        {%- else -%}
                        {{ data.system.defense.save.statistic | title }}
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
                {%- if data.system.duration.value or data.system.duration.sustained -%}
                {{ semicolon() }}<b>Duration</b>
                    {% if data.system.duration.sustained and data.system.duration.value -%}
                    sustained up to {{ data.system.duration.value }}
                    {%- elif data.system.duration.sustained and not data.system.duration.value -%}
                    sustained
                    {%- else -%}
                    {{ data.system.duration.value }}
                    {%- endif -%}
                {%- endif -%}
            </li>
            {%- endif -%}
        </ul>
        {% if data.system.time.value not in ['reaction'] %}
        <hr/>
        {% endif %}
        {{ data.system.description.value | enrich | safe }}
    {% endcall %}
    <footer>
        {# <a href="{{ url_for('.raw_content', **request.view_args) }}">View JSON</a> #}
    </footer>
</body>