{% macro stat_block(name, type, level=None, size=None, rarity=None, traits=[], collapsible=False, h_level=2, gm_info=False) %}
{%- set _ = g.assets.stylesheets.add(url_for('pf2e_compendium.static', filename='stat_block.css')) -%}
<div class="stat-block pf2e-{{ type | slug }} {{ 'has-collapser' if collapsible }} {{ 'gm-info' if gm_info }}">
    {% if collapsible %}
    <input type="checkbox" class="header stat-block-collapser" data-name="{{ name }}">
    {% endif %}
    <h{{ h_level }} class="header name">{{ name }}</h{{ h_level }}>
    <span class="header level">{{ type | title }} 
        {% if level != None %}<span id="statistic-level">{{ level }}</span>{% endif %}
    </span>
    <div class="stat-block-content {{ 'closed' if collapsible }}">
        <!-- Traits -->
        <div id="traits-container">
        {% if rarity and rarity != 'common' %}
            <span class="trait {{ rarity }}">{{ rarity }}</span>
        {% endif %}
        {% if size %}
            <span class="trait size">{{ size }}</span>
        {% endif %}
        {% for trait in traits %}
            <span class="trait">{{ trait }}</span>
        {% endfor %}
        </div>
        {{ caller() }}
    </div>
</div>
{% endmacro %}

{% macro statistic(value, table, id=None) %}
{%- if id == None -%}
<span class="statistic" data-table="{{ table }}" id="statistic-{{ table }}">{{ caller() if caller else value }}</span>
{%- else -%}
<span class="statistic" data-table="{{ table }}" id="statistic-{{ table }}-{{ id }}">{{ caller() if caller else value }}</span>
{%- endif -%}
{% endmacro %}

{% macro _detailed_value(details, value, table, id=None) %}
{{ statistic(value, table, id) }}
{%- if details -%}
{{ ';' if '(' not in details }}
{{ details | safe}}
{%- endif -%}
{% endmacro %}

{% macro detailed_value(data, table, id=None) %}
{{ _detailed_value(data.details, data.value, table, id) }}
{% endmacro %}

{% macro detailed_int(data, table, id=None) %}
{{ _detailed_value(data.details, '%+d' | format(data.value), table, id) }}
{% endmacro %}

{% macro detailed_dc(data, table, id=None, from_modifier=False) %}
DC {{ _detailed_value(data.details, '%d' | format((10 + data.value) if from_modifier else data.value), table, id) }}
{% endmacro %}

{% macro fmt_traits(traits) %}
{% if traits %}
(
{%- for trait, value in traits.items() -%}
    {% set trait = trait | replace('-', ' ') %}
    {%- if trait in ['reach', 'thrown', 'range-increment'] -%}
        {{ trait }} {{ value }} ft
    {%- elif trait == 'versatile' -%}
        {{ trait }} {{ value | upper }}
    {%- elif value -%}
        {{ trait }} {{ value }}
    {%- else -%}
        {{ trait }}
    {%- endif -%}
    {{- ', ' if not loop.last }}
{%- endfor %}
)
{% endif %}
{% endmacro %}

{% macro simple_action(action) %}
<b>{{ action.name }}</b>
{{ action.cost | action }}
{{ fmt_traits(action.traits) }}
{% if action.trigger %}
    <b>Trigger</b> {{ action.trigger }}
{% endif %}
{{ action.desc | safe }}
{% endmacro %}

{% macro strike_action(action, bonus_table, damage_table) %}
<b>{{ action.weapon_type | title }}</b>
{{ action.name }}
{{ action.cost | action }}
{{ statistic('%+d' % action.bonus, bonus_table, (action.name, action.weapon_type) | slug) }}
{% for malus in action.attack_maluses() %}
    {% if action.traits.get('reload', '-1') | int > 0 %}
    / reload {{ action.traits['reload'] | action }} /
    {% else %}
    /
    {% endif %}
    {{ '%+d' | format(action.bonus - malus) }}
{% endfor %}
{{ fmt_traits(action.traits) }}
{% if action.damage %}
    <b>Damage</b>
    {% call statistic(None, damage_table, (action.name, action.weapon_type) | slug) %}
        {% set damage_joiner = joiner(' plus ') %}
        {% for amount, damage_type in action.damage -%}
        {{ damage_joiner() }}<span class="damage-dice">{{ amount }}</span> {{ damage_type }}
        {%- endfor %}
    {% endcall %}
{% endif %}
{% if action.trigger %}
    <b>Trigger</b> {{ action.trigger }}
{% endif %}
{% if action.effects %}
    <b>Effect</b>
    {% for effect in action.effects %}
        {{ effect.replace('-', ' ') }}
    {% endfor %}
{% endif %}
{% endmacro %}
