{% macro stat_block(name, type, level=None, size=None, rarity=None, traits=[], collapsible=False, h_level=2, gm_info=False) %}
{%- set _ = g.assets.stylesheets.add(url_for('pf2e_compendium.static', filename='stat_block.css')) -%}
<div class="stat-block pf2e-{{ type | slug }} {{ 'has-collapser' if collapsible }} {{ 'gm-info' if gm_info }}">
    {% if collapsible %}
    <input type="checkbox" class="header stat-block-collapser" data-name="{{ name }}">
    {% endif %}
    <h{{ h_level }} class="header name">{{ name }}</h{{ h_level }}>
    <span class="header level">{{ type | title }} 
        {% if level != None %}<span id="statistic-level">{{ level }}</span>{% endif %}
    </span>
    <div class="stat-block-content {{ 'closed' if collapsible }}">
        <!-- Traits -->
        <div id="traits-container">
        {% if rarity and rarity != 'common' %}
            <span class="trait {{ rarity }}">{{ rarity }}</span>
        {% endif %}
        {% if size %}
            <span class="trait size">{{ size }}</span>
        {% endif %}
        {% for trait in traits %}
            <span class="trait">{{ trait }}</span>
        {% endfor %}
        </div>
        {{ caller() }}
    </div>
</div>
{% endmacro %}

{% macro _detailed_value(value, details, value_attrs = {}) %}
<span{{ value_attrs | xmlattr }}>{{ value }}</span>
{%- if details -%}
{{ ';' if '(' not in details }}
{{ details | safe}}
{%- endif -%}
{% endmacro %}

{% macro detailed_value(data, value_attrs = {}) %}
{{ _detailed_value(data.value, data.details, value_attrs) }}
{% endmacro %}

{% macro detailed_int(data, value_attrs = {}) %}
{{ _detailed_value('%+d' | format(data.value), data.details, value_attrs) }}
{% endmacro %}

{% macro detailed_dc(data, from_modifier=False, value_attrs = {}) %}
DC {{ _detailed_value('%d' | format((10 + data.value) if from_modifier else data.value), data.details, value_attrs) }}
{% endmacro %}