{% macro ability_options() %}
<option value=""></option>
<option>STR</option>
<option>DEX</option>
<option>CON</option>
<option>INT</option>
<option>WIS</option>
<option>CHA</option>
{% endmacro %}

{% macro embed_json(id, data) %}
<script type="application/json" id="{{ id }}">
{{ data | tojson }}
</script>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <title>NPC Generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='npc_generator.css')}}"/>
        {{ embed_json('regions', regions) }}
        {{ embed_json('all_races', all_races) }}
        {{ embed_json('all_cultures', all_cultures) }}
        <script>
        function readEmbeddedJson(id)
        {
            return JSON.parse(document.getElementById(id).innerText)
        }

        const REGIONS = readEmbeddedJson("regions")
        const ALL_RACES = readEmbeddedJson("all_races")
        const ALL_CULTURES = readEmbeddedJson("all_cultures")

        function clearSelect(select) 
        {
            select.replaceChildren(new Option(""))
        }

        function regionChanged()
        {
            region_selector = document.getElementById("region")
            culture_selector = document.getElementById("culture")
            race_selector = document.getElementById("race")

            culture_selector.replaceChildren(new Option(""))
            race_selector.replaceChildren(new Option(""))

            if (region_selector.value === "")
            {
                cultures = Object.keys(ALL_CULTURES)
            }
            else
            {
                cultures = REGIONS[region_selector.value]['cultures']
            }

            for (const culture of cultures)
                culture_selector.add(new Option(culture))
        }

        function cultureChanged()
        {
            culture_selector = document.getElementById("culture")
            race_selector = document.getElementById("race")

            race_selector.replaceChildren(new Option(""))
        
            if (culture_selector.value === "")
            {
                races = ALL_RACES
            }
            else
            {
                races = ALL_CULTURES[culture_selector.value]['races']
            }

            for (const [race, subraces] of races)
            {
                if (subraces.length > 0)
                {
                    group = document.createElement('optgroup')
                    group.label = race
                    group.appendChild(new Option(race))
                    for (const [name, subname] of subraces) 
                    {
                        option = new Option(name, race)
                        option.setAttribute("subrace", subname)
                        group.appendChild(option)
                    }
                    race_selector.add(group)
                }
                else race_selector.add(new Option(race))
            }
        }

        function updateSubrace()
        {
            race_selector = document.getElementById("race")
            subrace_selector = document.getElementById("subrace")
            if (race_selector.value === '')
                subrace_selector.value === ''
            else
                subrace_selector.value = race_selector.selectedOptions[0].getAttribute('subrace')
        }

        function setFeedback(text, duration) 
        {
            const feedback = document.getElementById("feedback")
            feedback.textContent = text
            setTimeout(() => feedback.textContent = "", duration)
        }

        function reset()
        {
            for (const element of document.querySelector("form").elements)
            {
                if (element instanceof HTMLInputElement && element.type == "text")
                    element.value = ""
                else if (element instanceof HTMLSelectElement)
                    element.selectedIndex = 0
            }
        }

        function generate()
        {
            fetch("{{ url_for('generate_npc') }}",
            {
                method: "POST",
                body: new FormData(document.getElementById("features"))
            })
            .then(response => response.json())
            .then(json =>
            {
                resultDocument = document.getElementById("result_frame").contentDocument
                resultDocument.body.replaceChildren() // Clear body
                table = resultDocument.body.appendChild(resultDocument.createElement("table"))
                for (const [feature, value] of json) {
                    row = table.appendChild(document.createElement("tr"))
                    row.appendChild(document.createElement("th")).textContent = feature
                    row.appendChild(document.createElement("td")).textContent = value
                }
                document.getElementById("save").disabled = false
            })
        }

        function save() 
        {
            fetch("{{ url_for('save_npc') }}",
            {
                method: "POST"
            })
            .then(response => response.text())
            .then(text =>
            {
                setFeedback(text, 1000)
                document.getElementById("save").disabled = true
            })
        }

        window.addEventListener('load', event => {
            regionChanged()
            cultureChanged()
        })
        </script>
    </head>
    <body>
        <div id="controls">
            <form id="features">
                <table>
                    <tr>
                        <td>Region</td>
                        <td>
                            <select name="region" id="region" class="feature_value" onchange="regionChanged()">
                                <option value=""></option>
                                {% for region in config.REGIONS %}
                                <option>{{ region }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" class="feature_value"></td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>
                            <select name="age" class="feature_value">
                                <option value=""></option>
                                <option>Young Adult</option>
                                <option>Middle Aged</option>
                                <option>Old</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Culture</td>
                        <td>
                            <select name="culture" id="culture" class="feature_value" onchange="cultureChanged()">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Race</td>
                        <td>
                            <select name="race" id="race" class="feature_value" onchange="updateSubrace()">
                                <option value=""></option>
                            </select>
                            <input name="subrace" id="subrace" type="hidden">
                        </td>
                    </tr>
                    <tr>
                        <td>Sex</td>
                        <td>
                            <select name="sex" class="feature_value">
                                <option value=""></option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>
                            <select name="height" class="feature_value">
                                <option value=""></option>
                                <option>Short</option>
                                <option>Average</option>
                                <option>Tall</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>
                            <select name="weight" class="feature_value">
                                <option value=""></option>
                                <option>Thin</option>
                                <option>Average</option>
                                <option>Plump</option>
                                <option>Fat</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>High</td>
                        <td><select name="high_stat" class="feature_value">{{ ability_options() }}</select></td>
                    </tr>
                    <tr>
                        <td>Low</td>
                        <td><select name="low_stat" class="feature_value">{{ ability_options() }}</select></td>
                    </tr>
                    <tr>
                        <td>Appearance</td>
                        <td><input type="text" name="appearance" class="feature_value"></td>
                    </tr>
                    <tr>
                        <td>Positive Personality</td>
                        <td><input type="text" name="positive_personality" class="feature_value"></td>
                    </tr>
                    <tr>
                        <td>Negative Personality</td>
                        <td><input type="text" name="negative_personality" class="feature_value"></td>
                    </tr>
                    <tr>
                        <td>Mannerism</td>
                        <td><input type="text" name="mannerism" class="feature_value"></td>
                    </tr>
                </table>
            </form>
            <button onclick="generate()" class="control_button">Generate</button>
            <button id="save" onclick="save()" class="control_button" disabled>Save</button>
            <button onclick="reset()" class="control_button">Reset</button>
            <a href="{{ url_for('list_npcs')}}">
                <button class="control_button">List</button>
            </a>
            <p id="feedback"></p>
        </div>
        <iframe name="result_frame" id="result_frame">
        </iframe>
    </body>
</html>